<footer class="border">
  <div class="columns-wrapper" *ngIf="footerData.columns">
    <div class="column" *ngFor="let column of footerData.columns">
      <h4><a href="{{column.title.link}}">{{column.title.title}}</a></h4>
      <a href="{{item.link}}" *ngFor="let item of column.items">
        {{item.title}}
      </a>
    </div>
  </div>
  <div class="info-box border" *ngIf="footerData.infoBox">
    <a href="{{info.link}}"
       target="_blank"
       class="column"
       *ngFor="let info of footerData.infoBox">{{info.title}}</a>
  </div>
  <div class="info-box border" *ngIf="footerData.infoBox2">
    {{footerData.infoBox2.text}}
  </div>
  <ng-container *ngIf="footerData.cookiesNote">
    <div class="cookie-note border" *ngIf="!isCookiePolicySubmitted">
      {{footerData.cookiesNote.text}}
      <a class="readmore" target="_blank" href="{{footerData.cookiesNote.rules.link}}">{{footerData.cookiesNote.rules.title}}</a>
      <a class="button-ok" (click)="submitCookies()">OK</a>
    </div>
  </ng-container>
</footer>
