<footer class="border">
  <div class="columns-wrapper">
    <div class="column">
      <h4><a href="http://www.weekendavisen.dk">Forside</a></h4>
    </div>
    <div class="column">
      <h4><a href="http://www.weekendavisen.dk/side/avisen">Avisen</a></h4>
      <a href="http://www.weekendavisen.dk/side/avisen">Overblik</a>
      <a href="http://www.weekendavisen.dk/lydavis">Lydavis</a>
      <a href="http://www.weekendavisen.dk/e-avis">E-Avis</a>
      <a href="http://www.weekendavisen.dk/side/arkiver">Arkiv</a>
      <a href="http://www.weekendavisen.dk/side/penkowa-sagen">Penkowa-sagen</a>
    </div>
    <div class="column">
      <h4><a href="http://www.weekendavisen.dk/bog">Bøger</a></h4>
      <a href="http://www.weekendavisen.dk/bog">Aktuelle</a>
      <a href="http://www.weekendavisen.dk/bog/find/0/a">Søg bog</a>
      <a href="http://www.weekendavisen.dk/bog/alle">Oversigt</a>
      <a href="http://www.weekendavisen.dk/bog/anmelderliste">Anmeldere</a>
      <a href="http://www.weekendavisen.dk/litteraturpriser">Litteraturpris</a>
    </div>
    <div class="column">
      <h4><a href="http://www.weekendavisen.dk/side/liv">Liv</a></h4>
      <a href="http://www.weekendavisen.dk/side/liv">Om LIV</a>
      <a href="http://www.weekendavisen.dk/rejse/liste">Læserrejser</a>
      <a href="http://www.weekendavisen.dk/side/vinklub">Læsernes Vinklub</a>
      <a href="http://www.filmporten.dk">Læsernes filmklub</a>
      <a href="http://www.weekendavisen.dk/side/skagenfood">Skagenfood</a>
    </div>
    <div class="column">
      <h4><a href="http://www.weekendavisen.dk/side/om-os">Om os</a></h4>
      <a href="http://www.weekendavisen.dk/side/om-os">Historien</a>
      <a href="http://www.weekendavisen.dk/medarbejderliste">Medarbejdere</a>
      <a href="http://www.weekendavisen.dk/skribent/liste">Bogudgivelser</a>
      <a href="http://www.weekendavisen.dk/side/kontakt-os">Kontakt os</a>
      <a href="http://www.berlingskemedia.dk/?brands=weekendavisen">Annoncer</a>
    </div>
    <div class="column">
      <h4><a href="/side/abonnement">Abonnement</a></h4>
      <a href="http://www.weekendavisenkampagne.dk/indland">Indland</a>
      <a href="http://www.weekendavisenkampagne.dk/udland">Udland</a>
      <a href="http://weekendavisen.kathlab.dk/studierabat/">Studerende</a>
      <a href="http://www.weekendavisenkampagne.dk/XXX">Abonnement på E-avisen</a>
      <a href="http://www.weekendavisenkampagne.dk/gave">Gaveabonnement</a>
      <a href="https://weekendavisen.kundeunivers.dk/">Kundeunivers</a>
      <a href="http://www.weekendavisen.dk/side/weekendavisens-udgivelseskalender">Udgivelseskalender</a>
    </div>
  </div>
  <div class="info-box border">
    <a href="http://www.berlingskemedia.dk/ophavsret-og-vilkaar/" target="_blank" class="column">Ophavsret</a>
    <a href="http://www.berlingskemedia.dk/cookie-og-privatlivspolitik/" target="_blank" class="column">Privatlivspolitik</a>
    <a href="http://www.berlingskemedia.dk/generelle-handelsbetingelser/" target="_blank" class="column">Generelle handelsbetingelser</a>
  </div>
  <div class="info-box border">
    Weekendavisen Pilestræde 34 DK-1147 København K. CVR: 25337654 Telefon: 33752533
  </div>
  <div class="cookie-note border" *ngIf="!isCookiePolicySubmitted">
    Websitet anvender cookies for at huske dine indstillinger, statistik og målrette annoncer. Denne information deles med tredjepart.
    <a class="readmore" target="_blank" href="http://www.berlingskemedia.dk/cookie-og-privatlivspolitik/">Læs mere</a>
    <a class="button-ok" (click)="submitCookies()">OK</a>
  </div>
</footer>
