<h3>Orders</h3>

<div *ngIf="orders && !orders.length">
  You don't have any orders.
</div>
<div *ngIf="orders && orders.length" class="orders-list">
  <md-card *ngFor="let order of orders" class="order-card">
    <md-card-header>
      <md-card-title>{{order.product_family}}</md-card-title>
      <md-card-subtitle>{{order.sap_order_id}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <strong>Delivery Address:</strong>
      <div class="address">{{order.delivery_address}}</div>
    </md-card-content>
    <md-card-actions class="actions">
      <button md-raised-button [mdMenuTriggerFor]="menu">MORE...</button>
      <md-menu #menu="mdMenu">
        <button md-menu-item [routerLink]="['/orders', order.sap_order_id]">Details</button>
        <button md-menu-item (click)="changeAddress(order.sap_order_id)">Change address</button>
        <button md-menu-item *ngIf="order.suspend_allowed" (click)="suspendOrder(order.sap_order_id)">Vacation changes</button>
        <button md-menu-item (click)="removeOrder(order.sap_order_id)">Remove order</button>
      </md-menu>
    </md-card-actions>
  </md-card>
</div>
