@import 'branding';

body {
  margin: 0;

  font: {
    family: Arial, sans-serif;
  }
}

a {
  color: #132277;
}

iframe {
  border: {
    width: 0;
  }
}

footer {
  color: $utility-color;

  h4 {
    a {
      color: $color-main;
    }
  }

  a {
    color: $utility-color;
  }

  a:hover {
    color: $color-secondary;
  }
}
