@import '~@angular/material/theming';
@include mat-core();


$wea-palette: map-merge($mat-light-blue, (
  500: #00adef,
  700: #006394
));

$main-color: map-get($wea-palette, 500);
$secondary-color: map-get($wea-palette, 700);
$utility-color: #9e9e9e;

$wea-app-primary: mat-palette($wea-palette, 500, 200);
$wea-app-accent: mat-palette($mat-amber, 400, 200);
$wea-app-warn: mat-palette($mat-red);
$wea-app-theme: mat-light-theme($wea-app-primary, $wea-app-accent, $wea-app-warn);
@include angular-material-theme($wea-app-theme);

body {
  font-family: georgia, arial, verdana, sans-serif;
}

.TopBar {
  background: #fff;
  border-bottom: solid 10px $main-color;

  .title {
    color: $main-color;
  }
}

.logo {
  background: url("/assets/weekendavisen_logo.png") center left no-repeat;
  background-size: contain;
  display: flex;
  width: 450px;
  height: 46px;
}

footer {
  color: $utility-color;

  h4 {
    a {
      color: $main-color;
    }
  }

  a {
    color: $utility-color;
  }

  a:hover {
    color: $secondary-color;
  }
}
