<h1 md-dialog-title>Change password</h1>
<md-dialog-content>
    <!--<form #addressForm="ngForm">-->
    <form>
        <md-input-container>
            <input name="currentPassword" mdInput placeholder="Current password" required
                   [(ngModel)]="currentPassword">
        </md-input-container>
        <md-input-container>
            <input name="newPassword" mdInput placeholder="New password" required
                   [(ngModel)]="newPassword">
        </md-input-container>
        <md-input-container>
            <input name="approvePassword" mdInput placeholder="Approve password" class="input-small"
                   required [(ngModel)]="approvePassword">
        </md-input-container>
    </form>
</md-dialog-content>
<md-dialog-actions class="actions">
    <button md-raised-button (click)="cancel()">Cancel</button>
    <button md-raised-button color="primary" (click)="save()">Update password</button>
</md-dialog-actions>
