.ellipsis {
  display: flex;
  justify-content: center;
}

.dot {
  margin: {
    left: 2px;
  }

  transform-origin: center 100%;
  animation: {
    name: blink-slow;
    duration: 1600ms;
    timing-function: linear;
    iteration-count: infinite;
    fill-mode: forwards;
    play-state: running;
  }

  &:first-child {
    margin: 0;
  }

  &:nth-child(2) {
    animation: {
      delay: 200ms;
    }
  }

  &:nth-child(3) {
    animation: {
      delay: 400ms;
    }
  }
}

@keyframes blink-slow {
  0%, 50% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-5px);
  }
}
