@import '../../../styles/branding';

.offer-details {
  order: 2;
}

@media (min-width: $media-breakpoint-tablet) {
  .offer-details {
    margin-top: 30px;
  }

  .page-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.form {
  max-width: 430px;
  padding: 0 40px;
  margin: 28px auto 0;

  order: 1;

  @media (min-width: $media-breakpoint-tablet) {
    max-width: initial;
    width: 430px;
    margin: 0;
    padding: 0;
  }

  h4 {
    color: $text-color-secondary;
    text-align: center;
    font-weight: bold;
    font-size: $font-size;
  }
}

.disclaimers {
  margin: 15px 0 0;
}

.form-footer {
  margin-top: 8px;

  @media (min-width: $media-breakpoint-tablet) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.form-error {
  font-size: $font-size-xs;
  margin-right: 10px;
}
