<md-toolbar class="top-bar">
  <a routerLink="/dashboard">
    <app-logo></app-logo>
  </a>
  <span class="title">My account</span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <img *ngIf="thumbnailURL" class="avatar" [src]="thumbnailURL">
    <md-icon *ngIf="!thumbnailURL">account_box</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="logOut()">
      <md-icon>power_settings_new</md-icon>
      <span>Logout</span>
    </button>
  </md-menu>
</md-toolbar>
